.cards-small {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-small {
	padding: 20px;
    display: flex;
    justify-content: space-around;
	box-shadow: 0px 13px 20px rgba(0,0,0,0.4);
	border-radius: 6px;
	flex-basis: 230px;
	flex-grow: 3;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 2px
    
}

#margin-bottom {margin: 20px 30px;
	margin-bottom: 70px;}
#margin-normal {margin: 20px 30px;}

.card-small img {
	width: 160px;
	border-radius: 11px;
}

.card-small h3 {
	flex-grow: 3;
}
